#glcanvas {
	margin-top: 20px;
}

#slider {
	width: 100%;
	height: 17px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 40px;
	display: flex;
}

.slider-content {
	width: 80%;
}

.slider-name {
	width: 20%;
	font-weight: bold;
	color: #474f58;
}

input:focus {
  outline: NONE;
}

#slider .bar {
	width: 100%;
	height: 5px;
	background: #333;
	/*position: relative;*/
	top: -4px;
	left: 4px;

	background: #1d2e38;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);

	-webkit-border-radius: 40px;
	border-radius: 40px;
}


input[type="range"] {
	-webkit-appearance: none;
	background-color: #474f58;
	height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 4px solid #474f58;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background: #27D8C3;
  cursor: pointer;
	box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.6);
}

input[type="range"]:hover ~ .rangevalue,input[type="range"]:active ~ .rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -75px;
}

/* Tool Tip */
.rangevalue {
	color: white;
	font-size: 10px;
	text-align: center;
	font-family:  Arial, sans-serif;
	display: block;
	color: #fff;
	margin: 20px 0;
	position: relative;
	left: 44.5%;
	padding: 6px 12px;
	border: 1px solid black;

	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.2), 0px 2px 4px 0px rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

	-webkit-border-radius: 20px;
	border-radius: 20px;
	width: 18px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: -95px;
}
