---
layout: default
---

<div class="flex top50">
  <div class="half-width">
    <img class="profile_image" src="/assets/images/real_me.jpg" />
  </div>
  <div class="info-content half-width center">
      <p class="name">Erinda Jaupaj</p>
      {% include icon-github.html username=site.github_username %}
      {% include icon-twitter.html username=site.twitter_username %}
  </div>
</div>

<p id="p2" class="top50 justify">
  I am an Agile Software Developer, pursuing my master degree in Computer Science. I love learning about
  different technologies and always be up to date. I like visiting new places, meet new people and encounter varied experiences.
</p>
<br />

<div class="flex-row">
  <div class="half-width">
    <h3 class="title"> #DevGirlsItaly </h3>
    <div class="ama">
      <p class="justify no-margin-bottom">
        During my working years I've noticed the lack of womens in the companies I've worked on.
        I wanted to do something about it, so I recently embarked on a mission to bring together
        all Italian Tech Girls.
        <br />
        <br />
        If you feel you are one of them
        then join <a class="pink_link" href="https://docs.google.com/forms/d/1J2L_4tY8UCakGOxMAVryrVHKHFzmIVFo3DDq9fdOjFg/edit?usp=mail_response_notification">here</a>.
        Sometimes I do workshops on different things, where I help girls to learn programming!
      </p>
    </div>
  </div>

  <div class="half-width">
    <h3 class="title"> #AMA </h3>
    <div class="ama">
      <p class="justify no-margin-bottom">
        I learn from the community and love to share what I have learned back.
        If you have any doubts about stuff in programming, or if you are a newbie and do not understand something
        or just want a body with whom to do some exercising,
        I have started recently an <a class="pink_link" href="https://github.com/linnal/ama">Ask Me Anything</a> test.
        Just drop me a question and once a week I will get one and if necessary I'll do a pair session with you. Aaaand it's totally free :)
        <br />
        <br />
        Just send me a message if you have a question about me or would like to get in touch.
      </p>
    </div>
  </div>
<div>

<br />
<br />

<p class="p_expertise" class="top50 justify">
  What I use the most:
</p>

<div class="expertise flex-row">
  <div class="elem rails">
    <a class="link" href="http://rubyonrails.org/"></a>
  </div>
  <div class="elem js">
    <a class="link" href="https://www.javascript.com/"></a>
  </div>
  <div class="elem android">
    <a class="link" href="https://developer.android.com"></a>
  </div>
  <div class="elem python">
    <a class="link" href="https://www.python.org/"></a>
  </div>
  <div class="elem java">
    <a class="link" href="https://www.java.com/en/"></a>
  </div>
  <div class="elem kotlin">
    <a class="link" href="https://kotlinlang.org/"></a>
  </div>
  <div class="elem nodejs">
    <a class="link" href="https://nodejs.org/en/"></a>
  </div>
  <div class="elem nodered">
    <a class="link" href="https://nodered.org/"></a>
  </div>
  <div class="elem github">
    <a class="link" href="https://github.com"></a>
  </div>
</div>
