<header id="header" class="site-header">
    <img id="header-image" class="header-default-image" src="/assets/images/linnal_u.png" />
    <div class="tab-container tab-left-container
      {% if page.path != 'about.html' %} active-tab {% else %} default-tab {% endif %} ">
      <a class="header-tab" href="{{ site.baseurl }}/">News</a>
    </div>
    <div class="tab-container
      {% if page.path == 'about.html' %} active-tab {% else %} default-tab {% endif %} ">
      <a class="header-tab" href="/about">About</a>
    </div>

</header>

<script src="/js/utils.js"></script>

