<link rel="stylesheet" href="{{ "/css/social_share.css" | prepend: site.baseurl }}">

<div class="shrink center">
  <a class="pink_link middle" href="https://github.com/linnal/ama"><span>#ama</span></a>
  <!-- <a href="https://github.com/linnal/ama"><span class="icon icon--github">{% include icon-github.svg %}</span></a> -->
  <a href="https://twitter.com/intent/tweet?text={{page.title}} by @ErindaJaupi {{site.url}}{{ page.url }} "><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
</div>
