.profile_image {
   border-radius: 50%;
   width: 200px;
   height: 200px;
   border: 6px solid $separetor-color;
}

.profile_div{
  width: 30%;
}

.top50 {
  margin-top: 50px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.icon {
  margin: 10px;
}

.icon > svg path {
   fill:  $active-color;
   &:hover {
     fill: $active-color;
   }
}

.icon > svg {
  width: 40px;
  height: 40px;
}

.icon--twitter > svg path {
   fill: transparent;
   stroke: $active-color;
}

.name {
  font-size: 26px;
  font-weight: bold;
  color: $default-color;
}

.flex {
  display: flex;
}

.info-content {
  margin: auto;
}

.half-width {
  width: 45%;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 800px) {
  .half-width {
      margin-left: 0px;
      margin-right: 0px;
      width: 100vw;
  }
  .profile_image {
     width: 150px;
     height: 150px;
  }
  .profile_div{
    width: 100vw;
    text-align: center;
  }
  .profile_info{
    padding-top: 30px;
    width: 100vw;
  }
}

.title {
  font-family: $title-font-family;
  position: relative;
  top: 32px;
  left: 30px;
  background-color: $background-color;
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: $default-color;
  font-weight: bold;
}

.ama {
  border-radius: 25px;
  border: 2px solid $separetor-color;
  padding: 20px;
}


.p_expertise {
  font-weight: bold;
}



.expertise {
  justify-content: flex-start;

  > .elem {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    background-size: contain;
    transition: all .1s ease-in-out;

    > .link {
      width: 100%;
      height: 100%;
    }
  }

  .elem:hover {
    transform: scale(1.1);
  }

  > .js {
    background-image: url("/assets/images/about/js.jpg")
  }
  > .rails {
    background-image: url("/assets/images/about/rails.png")
  }
  > .android {
    background-image: url("/assets/images/about/android.png")
  }
  > .java {
    background-image: url("/assets/images/about/java.png");
    background-color: #EBEBEB;
  }
  > .kotlin {
    background-image: url("/assets/images/about/kotlin.png");
    background-color: #A9B4EF;
  }
  > .python {
    background-image: url("/assets/images/about/python.png");
    background-color: #1E415E;
  }
  > .nodejs {
    background-image: url("/assets/images/about/nodejs.png");
    background-color: #A9B4EF;
  }
  > .nodered {
    background-image: url("/assets/images/about/nodered.png");
    background-color: #1E415E;
  }
  > .github {
    background-image: url("/assets/images/about/github.png");
    background-color: #3e4041;
  }
}
