.profile_image {
   border-radius: 50%;
   width: 200px;
   height: 200px;
   border: 6px solid $separetor-color;
}

@media screen and (max-width: 800px) {
  .profile_image {
     width: 150px;
     height: 150px;
  }
}

.about-description {
  margin-top: 50px;
  text-align: justify;
}

.icon {
  margin: 10px;
}

.icon > svg path {
   fill:  $active-color;
   &:hover {
     fill: $active-color;
   }
}

.icon > svg {
  width: 40px;
  height: 40px;
}

.icon--twitter > svg path {
   fill: transparent;
   stroke: $active-color;
}

.name {
  font-size: 26px;
  font-weight: bold;
  color: $default-color;
}

.flex {
  display: flex;
}

.info-content {
  margin: auto;
}

.p_expertise {
  font-weight: bold;
}

.expertise {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  > .elem {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    background-size: contain;
    transition: all .1s ease-in-out;

    > .link {
      width: 100%;
      height: 100%;
    }
  }

  .elem:hover {
    transform: scale(1.1);
  }

  > .js {
    background-image: url("/assets/images/about/js.jpg")
  }
  > .rails {
    background-image: url("/assets/images/about/rails.png")
  }
  > .android {
    background-image: url("/assets/images/about/android.png")
  }
  > .java {
    background-image: url("/assets/images/about/java.png");
    background-color: #EBEBEB;
  }
  > .kotlin {
    background-image: url("/assets/images/about/kotlin.png");
    background-color: #A9B4EF;
  }
  > .python {
    background-image: url("/assets/images/about/python.png");
    background-color: #1E415E;
  }
  > .nodejs {
    background-image: url("/assets/images/about/nodejs.png");
    background-color: #A9B4EF;
  }
  > .nodered {
    background-image: url("/assets/images/about/nodered.png");
    background-color: #1E415E;
  }
  > .github {
    background-image: url("/assets/images/about/github.png");
    background-color: #808080;
  }
}
