.button {
    background-color: $default-color;
    border: none;
    color: $background-color;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    font-family: $text-font-family;
    
    &:hover {
      background-color: $active-color;
      color: $background-color;
    }
}

.news-row {
  border-bottom: 2px solid $separetor-color;
  padding-top: 50px;
  padding-bottom: 10px;
}
